<section class="survey-body">
    <div class="survey-overview">
        <section class="survey-overview--state">
            <p class="survey-overview--state__highlight">Published</p>
        </section>
        <section class="survey-card">
            <header class="survey-card--head">
                <section class="survey-card--head--ending-category">
                    <p>Ends on 01.09.2025</p>
                    <p>Category: Team activities</p>
                </section>
                <h1 class="survey-card--head--title">Let’s Plan the Next Team Event Together</h1>
                <p class="survey-card--head--description">We want to create team activities that everyone will enjoy –
                    share your preferences and ideas in our survey to help us plan better experiences together.</p>
            </header>
            <main class="survey-card--question-list">
                <section class="survey-card--question-list--item-card">
                    <div class="survey-card--question-list--item-card--question">
                        <h3>1. Which date would work best for you?</h3>
                        <p>More than one answers are possible.</p>
                    </div>
                    <div class="survey-card--question-list--item-card--answer-list">
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                fill="none">
                                <rect x="3.75" y="3.75" width="13.5" height="13.5" rx="2.25" stroke="#35273A"
                                    stroke-width="1.5" stroke-linejoin="round" />
                            </svg><span>A.</span> 19.09.2025, Friday</div>
                        <div> <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                fill="none">
                                <rect x="3.75" y="3.75" width="13.5" height="13.5" rx="2.25" stroke="#35273A"
                                    stroke-width="1.5" stroke-linejoin="round" />
                            </svg><span>B.</span> 10.10.2025, Friday</div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                fill="none">
                                <rect x="3.75" y="3.75" width="13.5" height="13.5" rx="2.25" stroke="#35273A"
                                    stroke-width="1.5" stroke-linejoin="round" />
                            </svg><span>C.</span> 11.10.2025, Saturday</div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                fill="none">
                                <rect x="3.75" y="3.75" width="13.5" height="13.5" rx="2.25" stroke="#35273A"
                                    stroke-width="1.5" stroke-linejoin="round" />
                            </svg><span>D.</span> 31.10.2025, Friday</div>
                    </div>
                </section>
                <section class="survey-card--question-list--item-card">
                    <div class="survey-card--question-list--item-card--question">
                        <h3>1. Choose the activities you prefer?</h3>
                        <p>More than one answers are possible.</p>
                    </div>
                    <div class="survey-card--question-list--item-card--answer-list">
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                fill="none">
                                <rect x="3.75" y="3.75" width="13.5" height="13.5" rx="2.25" stroke="#35273A"
                                    stroke-width="1.5" stroke-linejoin="round" />
                            </svg><span>A.</span> Outdoor adventure like kayaking</div>
                        <div> <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                fill="none">
                                <rect x="3.75" y="3.75" width="13.5" height="13.5" rx="2.25" stroke="#35273A"
                                    stroke-width="1.5" stroke-linejoin="round" />
                            </svg><span>B.</span> Office Costume Party</div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                fill="none">
                                <rect x="3.75" y="3.75" width="13.5" height="13.5" rx="2.25" stroke="#35273A"
                                    stroke-width="1.5" stroke-linejoin="round" />
                            </svg><span>C.</span> Bowling, mini-golf, volleyball </div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                fill="none">
                                <rect x="3.75" y="3.75" width="13.5" height="13.5" rx="2.25" stroke="#35273A"
                                    stroke-width="1.5" stroke-linejoin="round" />
                            </svg><span>D.</span> Beach party, Music & cocktails</div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                fill="none">
                                <rect x="3.75" y="3.75" width="13.5" height="13.5" rx="2.25" stroke="#35273A"
                                    stroke-width="1.5" stroke-linejoin="round" />
                            </svg><span>E.</span> Escape room</div>
                    </div>
                </section>
                <section class="survey-card--question-list--item-card">
                    <div class="survey-card--question-list--item-card--question">
                        <h3>1. What’s most important to you in a team event?</h3>
                        <p></p>
                    </div>
                    <div class="survey-card--question-list--item-card--answer-list">
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                fill="none">
                                <rect x="3.75" y="3.75" width="13.5" height="13.5" rx="2.25" stroke="#35273A"
                                    stroke-width="1.5" stroke-linejoin="round" />
                            </svg><span>A.</span> Team bonding</div>
                        <div> <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                fill="none">
                                <rect x="3.75" y="3.75" width="13.5" height="13.5" rx="2.25" stroke="#35273A"
                                    stroke-width="1.5" stroke-linejoin="round" />
                            </svg><span>B.</span> Food and drinks </div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                fill="none">
                                <rect x="3.75" y="3.75" width="13.5" height="13.5" rx="2.25" stroke="#35273A"
                                    stroke-width="1.5" stroke-linejoin="round" />
                            </svg><span>C.</span> Trying something new</div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                fill="none">
                                <rect x="3.75" y="3.75" width="13.5" height="13.5" rx="2.25" stroke="#35273A"
                                    stroke-width="1.5" stroke-linejoin="round" />
                            </svg><span>D.</span> Keeping it low-key and stress-free</div>
                    </div>
                </section>
                <section class="survey-card--question-list--item-card">
                    <div class="survey-card--question-list--item-card--question">
                        <h3>1. How long would you prefer the event to last?</h3>
                        <p></p>
                    </div>
                    <div class="survey-card--question-list--item-card--answer-list">
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                fill="none">
                                <rect x="3.75" y="3.75" width="13.5" height="13.5" rx="2.25" stroke="#35273A"
                                    stroke-width="1.5" stroke-linejoin="round" />
                            </svg> <span>A.</span> Half a day </div>
                        <div> <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                fill="none">
                                <rect x="3.75" y="3.75" width="13.5" height="13.5" rx="2.25" stroke="#35273A"
                                    stroke-width="1.5" stroke-linejoin="round" />
                            </svg><span>B.</span> Full day </div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"
                                fill="none">
                                <rect x="3.75" y="3.75" width="13.5" height="13.5" rx="2.25" stroke="#35273A"
                                    stroke-width="1.5" stroke-linejoin="round" />
                            </svg><span>C.</span> Evening only</div>
                    </div>
                </section>
            </main>
            <footer class="survey-card--footer">
                <button class="survey-card--footer--btn">Complete survey</button>
            </footer>
        </section>

    </div>
    <section class="survey-results">
        <header class="survey-results--header">
            <h2>Survey results <span>Live</span></h2>
        </header>
        <main class="survey-results--list">
            @for (survey of surveyResults; track $index) {
            <section class="survey-results--list--card">
                <h3 class="survey-results--list--card--headline">
                    <p>{{$index +1}}.</p>
                    <p>{{survey.question}}</p>
                </h3>
                @for (item of survey.answers; track $index) {
                <div class="survey-results--list--card--answer-states">
                    <section class="survey-results--list--card--answer-states--single-state">
                        <p>{{item.answer}}</p>
                        <div class="survey-results--list--card--answer-states--single-state--bar">
                            <div [style.width.%]="item.value"></div>
                        </div>
                        <span>{{item.value}}%</span>
                    </section>
                </div>
                }
            </section>
            }
        </main>
    </section>
</section>