<section class="ending-soon--body">
    <main class="ending-soon--main">
        <div class="ending-soon--main--head">
            <h1>Your surveys</h1>
        </div>
        <section class="ending-soon--section">
            <div class="ending-soon--section--head">
                <h2>Ending soon surveys</h2>
            </div>
            <section class="ending-soon--section--list">
                <div class="ending-soon--section--list--item">
                    <section class="ending-soon--section--list--item--content">
                        <div class="ending-soon--section--list--item--content--top">
                            <div class="ending-soon--section--list--item--content--top--cathegory">Team Activities</div>
                        <div class="ending-soon--section--list--item--content--top--main">Let’s Plan the Next Team Event Together</div>
                        </div>
                        
                        <div class="ending-soon--section--list--item--content--ending">
                            <div class="ending-soon--section--list--item--content--ending__highlight">
                                Ends in 1 Day
                            </div>
                        </div>
                    </section>
                </div>
                <div class="ending-soon--section--list--item">
                    <section class="ending-soon--section--list--item--content">
                        <div class="ending-soon--section--list--item--content--top">
                            <div class="ending-soon--section--list--item--content--top--cathegory">Health & Wellness</div>
                        <div class="ending-soon--section--list--item--content--top--main">Fit & wellness survey!</div>
                        </div>
                        
                        <div class="ending-soon--section--list--item--content--ending">
                            <div class="ending-soon--section--list--item--content--ending__highlight">
                                Ends in 2 Days
                            </div>
                        </div>
                    </section>
                </div>
                <div class="ending-soon--section--list--item">
                    <section class="ending-soon--section--list--item--content">
                        <div class="ending-soon--section--list--item--content--top">
                            <div class="ending-soon--section--list--item--content--top--cathegory">Gaming & Entertainment</div>
                        <div class="ending-soon--section--list--item--content--top--main">Gaming habits and favorite games!</div>
                        </div>
                        
                        <div class="ending-soon--section--list--item--content--ending">
                            <div class="ending-soon--section--list--item--content--ending__highlight">
                                Ends in 3 Days
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </main>
</section>