@use '../src/app/styles/mixins/mixins.scss' as md;

* {
    margin: 0;
    box-sizing: border-box;
    // width: 100%;
}

body {
    width: 100%;

    @include md.d_flex();
}

body.default {
    background-color: #35273A;
}

body.bckgrdclr-wh {
    background-color: #FFFFFF;
}

