// m-t: 92px
@use '../../../styles/mixins/mixins.scss' as md;

.landing-section-head {
    margin-top: 92px;
    margin-bottom: 92px;
    width: 1218px;
    @include md.d_flex($jc: space-between);

    &-main {
        @include md.d_flex($fd: column, $ai: flex-start, $gp: 40px);
        // height: 380px;
        width: 712px;

        >h1 {
            @include md.f_nerko($fs: 100px);
        }

        >p {
            @include md.f_mulish($fs: 24px, $fw: 600);
        }

        &-btn {
            max-height: 48px;
            max-width: 172px;
            width: 138px;
            background-color: #FFCFA1;
            border-width: 0;
            border-radius: 10px;
            padding: 12px 16px;
            cursor: pointer;
            @include md.d_flex($gp: 10px);
            @include md.f_nokora($fs:18px, $fw:700);
            transition: width 0.3s ease-out;

            &:hover {
                .landing-section-head-main-btn__highlight {
                    display: flex;
                   
                }
                 width: 172px;
            }

            &-text {
                min-width: 106px;
            }

            &__highlight {
                display: none;
                
            }
        }


    }

    &-right {
        // flex: 1;
    }
}